body{
    margin :50px;
    background-repeat : no-repeat;
    background-size : cover;

  }
  a{
    text-decoration : none;
  }
  .saw{
    color : gray;
  }
  h1{
    margin-top:50px;
    text-align : center;
    border-bottom: 2px solid gray;
  }
  ol{
    font-size: 20px;
    border-left: 2px solid gray;
    width: 100px;
    padding: 30px;
  }
  .view{
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
  }
  #grid{
    display: grid;
    grid-template-columns: 1fr 150px;
  }
  h2{
    margin-top: 30px;
  }